@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  margin: 0;
}

.app-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  width: 48%;
  margin-bottom: 20px;
}

input[type="file"] {
  width: 100%;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
.result-container {
  margin-top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  text-align: center;
}

li {
  margin-bottom: 8px;
}

@media (max-width: 900px) {
  section {
    width: 100%;
  }
}
 